.employee-list {

  padding-left: 0.5rem;
  padding-right: 0.5rem;

  @include media-query('sm') {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__col {
    flex-grow: 0;

    @include media-query("xs") {
      flex-basis: 100%;
      width: 100%;
    }

    @include media-query("sm") {
      flex-basis: 33.3333333333333%;
      width: 33.333333333333%;
    }

    @include media-query("md") {
      flex-basis: 20%;
      width: 20%;
    }

    @include media-query("lg") {
      flex-basis: 16.6666666666666%;
      width: 16.6666666666666%;
    }

    @include media-query("xl") {
      flex-basis: 12.5%;
      width: 12.5%;
    }
  }
}
