.tabs {
  &__nav {
    display: flex;
    border: 1px solid $grey-40;
    border-radius: 4px;
    margin-bottom: 4px;
  }

  &__nav-item {
    border-right: 1px solid $grey-40;
    padding: 0.5rem;
    cursor: pointer;
    text-align: center;
    flex-grow: 1;

    &:last-child {
      border: 0;
    }

    &.is-active {
      background-color: $grey-40;
      font-weight: bold;
    }
  }

  &__panel {
    display: none;
    padding: 0 0.5rem;

    &.is-active {
      display: block;
    }
  }
}
