.tags {
  &__header {
    margin-bottom: 0.25rem;
  }

  &__list {
    list-style: none;
    margin-bottom: 0.666666rem;
    margin-left: 0;
    display: flex;
    flex-wrap: wrap;

    .tag:last-of-type {
      margin-right: 0;
    }
  }
}

.tag {
  background-color: $grey-40;
  border-radius: 3px;
  color: $grey;
  line-height: 0.938rem;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.625rem;
  font-size: 0.8rem;
  word-wrap: break-word;
  user-select: none;

  &--success {
    background-color: $green;
    color: $white;
  }
}
