.card--teams {

  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;

  .card__body {
    flex: 1 1 auto;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  .card__footer {
    padding: 1rem;
    background-color: $grey-20;
  }
}
