@function shadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 175 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

////

@keyframes upload {
  0%{
    transform: translateY(200px);
  }
  100% {
    transform: translateY(-100px);
  }
}

@keyframes init-grow {
  0%{
    transform: scale(0.5);
  }
  50% {
    transform: scale(0.55);
  }
  100%{
    transform: scale(0.5);
  }
}

@keyframes init-grow-2 {
  0%{
    transform: scale(0.5);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes grow {
  0%{
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100%{
    transform: scale(1);
  }
}

////

.upload-animation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; 
  z-index: 99999;
  display: none;
  background-color: rgba(0,0,0,0.4);

  &.is-shown {
    display: block;
  }

  &__modal {
    width: 300px;
    height: 300px;
    position: absolute;
    text-align: center;
    margin: 15px;
    overflow: hidden;
    background-color: $light-blue;
    border-radius: 4px;
    box-shadow: 0 5px 10px $black;
    display: inline-block;
    transition: background-color 0.3s ease-out;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 9;

    @include media-query("md") {
      width: 400px;
    }

    @include media-query("lg") {
      width: 500px;
    }

    .is-success & {
      background-color: $green;
    }
  }

  &__cloud {
    
    width: 200px;
    height: 80px;
    position: relative;
    background: $white;
    display: inline-block;
    border-radius: 50px;
    margin: 120px auto 0;
    opacity: 0.2;
    transform: scale(0.5);
    animation: init-grow 2s ease-in-out infinite;
    transition: all 0.6s cubic-bezier(.23, .41, .41, 1.07);
    
    &:after {
      
      content: '';
      position: absolute;
      width: 120px;
      height: 80px;
      border-radius: 80px 80px 0 0;
      top: -40px;
      background: $white;
      left: 40px;
      transition: background-color 0.3s ease-out;
    }
    
    &:before{
      
      content: '';
      position: absolute;
      background: $grey-80;
      border-radius: 10px;
      width: 90px;
      height: 6px;
      z-index: 2;
      left: 0;
      right: 0;
      bottom: 25px;
      margin: auto;
      opacity: 0;
      transition: opacity 0.3s ease-out;
    }

    .is-ready &,
    .is-finished & {
      opacity: 1;
      transform: scale(1);
      box-shadow: shadow($blue);
      animation: init-grow-2 0.6s cubic-bezier(.23, .41, .41, 1.07);
    }

    .is-ready & {
      &:before{
        opacity: 1;
      }
    }

    .is-finished & {
      animation: grow 2s ease-in-out infinite;
    }

    .is-success & {
      box-shadow: shadow($green-hover);
      opacity: 1;
      transform: scale(1);
      animation: none;
    }
  }

  &__file {

    position: absolute;
    left: 0 ;
    right: 0;
    margin: auto;
    z-index: 5;
    top: 50px;
    width: 80px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    
    &:after {
      
      content: '';
      position: absolute;
      background: $yellow;
      width: 80px;
      height: 100px;
      left:0;
      top: 0;
      border-radius: 10px;
    }

    &:before {
      content: '';
      background: $white;
      color: $white;
      width: 60px;
      height: 5px;
      position: absolute;
      left: 0;
      right: 0;
      top: 20px;
      z-index: 3;
      margin: auto;
      box-shadow: 0 15px, 0 30px, 0 45px;
    }

    .is-ready & {
      opacity: 1;
    }

    .is-ready &,
    .is-finished & {
      &:before,
      &:after {
        animation: upload 4s linear infinite;
      }
    }
  }

  &__check {
    width: 50px;
    height: 20px;
    content: '';
    position: absolute;
    border-left: 7.5px solid;
    border-bottom: 7.5px solid;
    border-color: $green;
    transform: rotate(-45deg) translate3d(0, 0, 0) scale(0);
    transform-origin: center center;
    transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
    left: 0;
    right: 0;
    top: 12.5px;
    margin: auto;
    z-index: 9;

    .is-success & {
      transform: rotate(-45deg) translate3d(0, 0, 0) scale(1);
    }
  }

  &__status {
    position: absolute;
    color: $white;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    padding: 2rem;
    font-weight: bold;
  }
}