.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}
