.font-weight-bold {
    font-weight: bold;
}

.font-size-large {
    font-size: 1.125rem !important;
}

.font-size-small {
    font-size: 0.8625rem !important;
}

.font-size-xsmall {
    font-size: 0.625rem !important;
}

.text-transform-uppercase {
    text-transform: uppercase;
}
