.modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	background-color: rgba(0, 0, 0, 0.1);

	&.is-open {
		display: block;
	}

	// Shell div to position the modal with bottom padding
	&__dialog {
		position: relative;
		width: auto;
		margin: 10px;
		border-radius: 2px;
		box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
		
		@media (min-width: 768px) {
			width: 600px;
			margin: 30px auto;
		}
	}

	&__header {
		background: $blue;
		color: $white;
		padding: 1rem;
		border-top-left-radius: 2px;
		border-top-right-radius: 2px;
	}

	&__title {
		margin: 0;
		font-size: 1rem;
		font-weight: bold;
	}

	&__content {
		background: white;
		padding: 1rem;
		border-left: 1px solid $grey-60;
		border-right: 1px solid $grey-60;

	}

	&__footer {
		background: white;
		text-align: right;
		border: 1px solid $grey-60;
		border-top: 1px solid $grey-40;
		border-bottom-left-radius: 2px;
		border-bottom-right-radius: 2px;
		padding: 0.5rem 1rem;
	}

	&--borderless {

		.modal__content {
			border: none;
			padding: 0;
		}

		.modal__footer {
			border: none;
			border-top: 1px solid $grey-40;
		}
	}
}