blockquote {
  font-family: $font-family-heading;
  margin: 0 0 1.5rem;
  padding: 0;
  border-left: 0px solid ;
  border: none;
  
  & cite {
    font-family: $font-family-text;
    display: block;
    font-size: 1rem;
    color: $grey;
    font-style: normal;
    margin-top: 0.4rem;
  
    &:before {
      content: "\2014 \0020"; 
    }
    
    & a,
    & a:visited {
      color: inherit;
    }
  }
  
  & p {
    line-height: 1.55;
    color: inherit;
    font-size: 1.25rem;
  }
}