body {
  background-color: $grey-20;
  /* Move to settings*/
  color: $grey;
  /* Move to settings*/
  font-family: $font-family-text;
  font-weight: 400;
  font-style: normal;
  line-height: 1.33333;
  position: relative;
  cursor: auto;
}
