code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: normal;
  color: #374b5a;
  background-color: #dbe1e5;
  border-width: 1px;
  border-style: solid;
  border-color: #c1cbd2;
  padding: 0.125rem 0.3125rem 0.0625rem;
}