// Base colors

$black: rgba(0, 0, 0, 1);
$white: rgba(255, 255, 255, 1);

$grey: rgba(77, 77, 77, 1);
$grey-80: rgba(153, 153, 153, 1);
$grey-60: rgba(205, 205, 205, 1);
$grey-40: rgba(235, 235, 235, 1);
$grey-20: rgba(246, 246, 246, 1);

// Accent colors

$blue: #004b87;
$blue-hover: #12365e;
$blue-80: #336f9f;
$blue-60: #6693b7;
$blue-40: #99b7cf;
$blue-20: #ccdbe7;

$light-blue: #00a3e0;
$light-blue-hover: #0089ba;
$light-blue-80: #33b5e6;
$light-blue-60: #66c8ec;
$light-blue-40: #99daf3;
$light-blue-20: #ccedf9;

$turquoise: #009aa7;
$turquoise-hover: #007580;
$turquoise-80: #33aeb9;
$turquoise-60: #66c2ca;
$turquoise-40: #99dcd3;
$turquoise-20: #ccebed;

$yellow: #eea816;
$yellow-hover: #c78e12;
$yellow-80: #f1b945;
$yellow-60: #f5cb73;
$yellow-40: #f8dca2;
$yellow-20: #fceed0;

$red: #c4272e;
$red-hover: #9e2026;
$red-80: #d05258;
$red-60: #dc7d82;
$red-40: #e7a9ab;
$red-20: #f3d4d5;

$berry: #85265b;
$berry-hover: #5e1b40;
$berry-80: #9d517c;
$berry-60: #b67d9d;
$berry-40: #cea8bd;
$berry-20: #e7d4de;

$green: #b1c346;
$green-hover: #8d9c38;
$green-80: #c1cf6b;
$green-60: #d0db90;
$green-40: #e0e7b5;
$green-20: #eff3da;
